@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.ContentCollection.SocialMediaSection>
<div class="content-collection--module social">
    @foreach (var socialMedia in Model.SocialMediaItems)
    {
        using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Subitems", socialMedia.Path))
        {
            <div class="custom-col text-light" style="background-color: @socialMedia.BackgroundColor;">
                @Editable(socialMedia, item => item.Icon, new {alt = socialMedia.Icon.Alt, @class = "lazyload"})

                <p class="content-collection--module__title-bold">@socialMedia.SocialMediaSetting.GetSocialMediaCounts()</p>
                <p>@Editable(socialMedia, item => item.LeadIn)</p>

                @Editable(socialMedia, item => item.CallToAction, new {@class = "box-button box-button--light box-button--rounded"})
            </div>
        }
    }
</div>
