@using Sitecore.Mvc
@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.Articles.ArticleIndex>

<div class="article-index">
    <h2>@Editable(x => x.Headline)</h2>
    <p class="spotlight__intro">@Editable(x => x.OpeningParagraph)</p>

    <div class="grid-no-gutters">
        @foreach (var articleItem in Model.ArticleItems)
        {
            using (BeginEditFrame(articleItem, "Edit Background image", item => item.Image))
            {
                <div class="grid-col-@this.NumberOfColumns()-12 article-index--container">
                    <div class="grid-no-gutters article-index--article">
                        <div class="@this.ColumnSplitOne() article-index--article__image background-position-middle" style="@this.BackgroundImage(articleItem)">
                            <div class="tablet-less-than">@Editable(articleItem, x => x.Image)</div>
                        </div>
                        <div class="@this.ColumnSplitTwo() article-index--article__content">
                            @using (BeginRenderLink(articleItem, item => item.Link, isEditable: true))
                            {
                                <h3>
                                    @Editable(articleItem, x => x.Title)
                                </h3>
                                <p class="h4">
                                    @Editable(articleItem, x => x.LeadIn)
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
