@using Vitality.Website.Extensions
@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.Cards.CardsTabbed>

<div class="js-filter-section">
    <div class="spotlight spotlight--max-3 pinch">
        <h4 class="spotlight__heading">@Editable(Model, m => m.Headline)</h4>
        <p class="spotlight__intro">@Editable(Model, m => m.OpeningParagraph)</p>

        <ul class="filter-list js-filter-options">
            <li class="filter-list__item js-filter-options__item js-filter-options__item--default">
                <a class="js-focus" href="#" data-filter="all">@Editable(Model, m => m.AllCategoriesText)</a>
            </li>
        @foreach (var category in Model.Categories)
        {
            <li class="filter-list__item js-filter-options__item">
                <a href="#" data-filter="@Html.Raw(category.Name.ToLowerHyphenatedString())">@Html.Raw(category.Title)</a>
            </li>
        }
        </ul>

        <div class="filter-section__details js-filter-section__details">
            @if (IsInEditingMode)
            {
                <p>@Editable(Model, m => m.ResultsCountText)</p>
            }
            else
            {
                <p>@Html.Raw(this.ResultsCountText())</p>
            }
        </div>

        <ul class="spotlight__list js-filtered-container">
            @foreach (var partnerCard in Model.PartnerCards)
            {
                using (BeginEditFrame(partnerCard, "Edit partner categories", m => m.Categories))
                {
                <li class="spotlight__list-item js-filtered-container__item" data-filter="@this.PartnerCategories(partnerCard)">
                    <div class="spotlight-item js-match-height--2">
                        <div class="spotlight-item__top-content js-match-height">
                            <div class="spotlight-item__intro-image burst">
                                @Editable(partnerCard, m => m.Image, new { w = 305, h = 175 })
                            </div>

                            <div class="spotlight-item__logo">
                                <a href="#">
                                    @Editable(partnerCard, m => m.Logo, new { mw = 200, mh = 100 })
                                </a>
                            </div>

                            <h3 class="spotlight-item__heading">@Editable(partnerCard, m => m.Headline)</h3>

                            <div class="spotlight-item__content">@Editable(partnerCard, m => m.OpeningParagraph)</div>
                        </div>
                        <div class="spotlight-item__cta">
                            @Editable(partnerCard, m => m.CallToAction, new { @class = "emphasis-link" })
                        </div>
                    </div>
                </li>
                }
            }
        </ul>
    </div>
</div>