@using Vitality.Website.Extensions
@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.Cards.CardsTabbed>

<div class="js-filter-section">
    <div class="cards-tabbed spotlight spotlight--max-3">
        <h2 class="spotlight__heading">@Editable(Model, m => m.Headline)</h2>
        <p class="spotlight__intro">@Editable(Model, m => m.OpeningParagraph)</p>

        <ol class="filter-list js-filter-options">
            <li class="filter-list__item js-filter-options__item js-filter-options__item--default">
                <a class="js-focus" role="button" data-filter="all">
                    @Editable(Model, m => m.AllCategoriesText)
                </a>
            </li>
        @foreach (var category in Model.Categories)
        {
            <li class="filter-list__item js-filter-options__item">
                <a role="button" data-filter="@Html.Raw(category.Name.ToLowerHyphenatedString())">
                    @Html.Raw(category.Title)
                </a>
            </li>
        }
        </ol>

        <ul class="js-filtered-container">
            @foreach (var partnerCard in Model.PartnerCards)
            {
                using (BeginEditFrame(partnerCard, "Edit partner categories", m => m.Categories))
                {
                <li class="js-filtered-container__item" data-filter="@this.PartnerCategories(partnerCard)">
                    <div class="spotlight-item__top-content">
                        <div class="spotlight-item__intro-image burst">
                            @GlassHtml.RenderLazyImage(partnerCard, m => m.Image, partnerCard.Image.Src, 388)
                        </div>

                        <div class="spotlight-item__logo">
                            <a href="@partnerCard.CallToAction.Url">
                                @RenderImage(partnerCard, m => m.Logo, new { @class = "lazyload", mw = 200 }, true)
                            </a>
                        </div>

                            <h3>@Editable(partnerCard, m => m.Headline)</h3>

                            <div class="spotlight-item__content">@Editable(partnerCard, m => m.OpeningParagraph)</div>
                        </div>

                        <div class="spotlight-item__cta">
                            @Editable(partnerCard, m => m.CallToAction)
                        </div>
                </li>
                }
            }
        </ul>
    </div>
</div>
