@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.Cards.CardsStacked>

@using (BeginEditFrame(Model, "Edit Background Image", item => item.BackgroundImage))
{
    <section class="cards-stacked @this.BackgroundClass()" style="@this.BackgroundStyle()">
        <div class="spotlight pinch text-light">
            <h4 class="spotlight__heading">
                @Editable(Model, item => item.Headline)
            </h4>

            <div class="spotlight_intro">
                @Editable(Model, item => item.OpeningParagraph)
            </div>

            <ul class="spotlight__list">
                @foreach (var card in Model.Cards)
                {
                    using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Subitems", card.Path))
                    {
                        <li class="spotlight__list-item">
                            <div class="spotlight-item">
                                <div class="spotlight-item__top-content">
                                    @if (this.ImageOnTop())
                                    {
                                        <div class="spotlight-item__intro-image burst">
                                            @Editable(card, item => item.Icon)
                                        </div>

                                        <p class="spotlight-item__heading">
                                            @Editable(card, item => item.Title)
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="spotlight-item__heading">
                                            @Editable(card, item => item.Title)
                                        </p>
                                        
                                        <div class="spotlight-item__icon">
                                            @Editable(card, item => item.Icon)
                                        </div>
                                    }

                                    <div class="spotlight-item__content">
                                        <p>@Editable(card, item => item.Text)</p>
                                    </div>
                                </div>

                                <div class="spotlight-item__cta">
                                    @Editable(card, item => item.CallToAction, new { @class = "emphasis-link" })
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </section>
}
