@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.FeatureBlocks.AwardLeader>


@using (BeginEditFrame(Model, "Edit Background image", item => item.BackgroundImage))
{
    <div class="award-leader" style="@this.BackgroundImage()">
        <div class="grid-no-gutters">

            <div class="grid-col-6-12 award-leader--intro">
                <h2>@Editable(Model, item => item.Headline)</h2>

                <p>@Editable(Model, item => item.OpeningParagraph)</p>

                <div class="award-leader--intro__logos">
                    @foreach (var awardLogos in Model.AwardLogos)
                    {
                        using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Subitems", awardLogos.Path))
                        {
                            using (BeginEditFrame(awardLogos, "Edit Logo", item => item.Image))
                            {
                                using (BeginRenderLink(awardLogos, item => item.Link, isEditable: true))
                                {
                                    @Editable(awardLogos, item => item.Image, new { mw = 200 })
                                }
                            }
                        }
                    }
                </div>
            </div>

            <div class="grid-col-6-12 award-leader--articles">
                @foreach (var articleItem in Model.ArticleItems)
                {
                    using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Subitems", articleItem.Path))
                    {
                        <div class="grid-no-gutters article-snippet">
                            @using (BeginEditFrame(articleItem, "Edit Background image", item => item.Image))
                            {
                                <div class="grid-col-4-12 article-snippet--image background-position-middle" style="@this.BackgroundImage(articleItem)">
                                    <div class="tablet-less-than">@Editable(articleItem, x => x.Image, new { mw = 720 })</div>
                                </div>

                                <div class="grid-col-8-12 article-snippet--content">
                                    @using (this.BeginRenderLink(articleItem, item => item.Link, isEditable: true))
                                    {
                                        <h3>
                                            @Editable(articleItem, m => m.Title)
                                        </h3>
                                        <p class="h4">
                                            @Editable(articleItem, m => m.LeadIn)
                                        </p>
                                    }
                                </div>
                            }
                        </div>
                    }
                }
            </div>

        </div>
    </div>
}
