@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.FeatureBlocks.BenefitLeader>

@using (BeginEditFrame(Model, "Edit Background image", item => item.BackgroundImage))
{
    <div class="feature-block@(this.ApplyGradient()) feature-block@(this.ApplyGradient())--@this.BackgroundColour() @this.ContentAlignment()">
        <div class="feature-block@(this.ApplyGradient())__image @this.ImageRelativePosition()" style="@this.BackgroundImage()"></div>
        <div class="feature-block@(this.ApplyGradient())__content-container">
            <div class="feature-block@(this.ApplyGradient())__content">
                @if (IsInEditingMode || !string.IsNullOrWhiteSpace(Model.LeadIn))
                {
                <h6>@Editable(Model, item => item.LeadIn)</h6>
                }
                <h3>@Editable(Model, item => item.Headline)</h3>
                <p>@Editable(Model, item => item.Body)</p>
                @Editable(Model, item => item.CallToAction, new { @class = this.ButtonStyle() })
            </div>
        </div>
    </div>
}
