@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.FeatureBlocks.FeeMaxima>
<div class="pinch">
    <h2>@Editable(Model, m => m.Headline)</h2>
    <p>@Editable(Model, m => m.Title)</p>
    <div class="example" data-ng-app="FeemaximaApp">
        <div ng-controller="ChapterListController">
            <div class="grid grid--search-header">
                <div data-ng-hide="sectionSelected" class="grid-col-5-12 grid--search-header__title no-pad">
                    @Editable(Model, m => m.ChooseChapterText)
                </div>

                <div data-ng-show="sectionSelected" class="grid-col-5-12 no-pad">
                    <a class="emphasis-link" data-ng-click="clearSection()" href="">
                        @Editable(Model, m => m.BackLinkText)
                    </a>
                </div>

                <div class="grid-col-2-12 grid--search-header__label no-pad">
                    <label for="feemaximaSearch">@Editable(Model, m => m.SearchText)</label>
                </div>

                <div class="grid-col-5-12 no-pad">
                    <input id="feemaximaSearch" type="text"
                           placeholder="@Html.Raw(Model.SearchPlaceholderText)" typeahead />
                </div>
            </div>
            <div data-ng-show="isLoading" class="loader">
                <p class="loader__label">
                    @Editable(Model, m => m.LoadingText)
                </p>
                <div class="loader__icon"></div>
            </div>
            <div class="expanding-list js-expander-is-accordion expander--init" data-ng-hide="noResultsFound || sectionSelected" data-ng-cloak>
                <a ng-repeat-start="chapter in chapters" class="expander__link grid" href="#expander1-{{chapter.Id}}">
                    <div class="grid-col-2-12 chapter">
                        @Editable(Model, m => m.ChapterText) {{chapter.Id}}
                    </div>
                    <div class="grid-col-10-12 name" ng-bind-html="chapter.Name | unsafe">
                    </div>
                </a>
                <div ng-repeat-end class="expander__content" id="expander1-{{chapter.Id}}">
                    <a ng-click="selectSection(section)" class="grid" ng-repeat="section in chapter.Sections">

                        <div class="grid-col-2-12 chapter"></div>

                        <div class="grid-col-2-12 subchapter">
                            @Editable(Model, m => m.ChapterText) {{chapter.Id}}.{{section.Id}}
                        </div>

                        <div class="grid-col-8-12 name" ng-bind-html="section.Name | unsafe">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div ng-controller="SectionController">
            <table class="data-table tablesaw tablesaw-stack" data-ng-show="sectionSelected" data-tablesaw-mode="stack" data-ng-cloak>
                <thead>
                <tr>
                    <th>@Editable(Model, m => m.CodeHeader)</th>
                    <th>@Editable(Model, m => m.DescriptionHeader)</th>
                    <th>@Editable(Model, m => m.HospitalComplexityHeader)</th>
                    <th>@Editable(Model, m => m.SurgeonsFeeHeader)</th>
                    <th>@Editable(Model, m => m.AnaesthetistsFeeHeader)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="procedure in selectedProcedures">
                    <td ng-bind="procedure.Code"></td>
                    <td ng-bind-html="procedure.Description | unsafe"></td>
                    <td>
                        <conditional-text alternative-text="'@Model.ContactUsText'" condition="procedure.HospitalComplexity" value="procedure.HospitalComplexity"></conditional-text>
                    </td>
                    <td>
                        <conditional-text alternative-text="'@Model.ContactUsText'" condition="procedure.SurgeonFee" value="'@Model.CurrencySymbol' + procedure.OperatorFee"></conditional-text>
                    </td>
                    <td>
                        <conditional-text alternative-text="'@Model.AnaesthetistFeeAlternateText'" condition="procedure.AnaesthetistFee" value="''@Model.CurrencySymbol' + procedure.AnaesthetistFee"></conditional-text>
                        <conditional-text ng-hide="procedure.SurgeonFee" alternative-text="'@Model.ContactUsText'" condition="procedure.AnaesthetistFee" value="'@Model.CurrencySymbol' + procedure.AnaesthetistFee}}"></conditional-text>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

    <script>
        window.angularData = window.angularData || {};
        window.angularData.CcsdFeedSettingsId = '@Model.FeedSettingsId';
    </script>
