@using Glass.Mapper.Sc.Web.Mvc
@using Vitality.Website.Extensions.Views
@inherits GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.FeatureBlocks.ProductHero>

<div class="product-hero feature-block feature-block--primary">
    <div class="feature-block__image">
        @RenderImage(Model, item => item.VitalityLogo, new { @class="lazyload", mw = 952 }, true)
    </div>

    <div class="feature-block__content-container">
        <div class="feature-block__content">
            @RenderImage(Model, item => item.Image, new { @class = "lead-in lazyload" }, true)
            <h1>@Editable(Model, item => item.Headline)</h1>
            
            <div class="feature-block__content-body">
                @Editable(Model, item => item.Body)
            </div>

            @Editable(Model, item => item.CallToAction, new { @class = this.ButtonClass() })
        </div>
    </div>
</div>
