@using Glass.Mapper.Sc.Web.Mvc
@using Vitality.Website.Areas.Presales.Models.FeatureBlocks
@using Vitality.Website.Extensions.Views
@inherits GlassView<ProductHero>

    <div class="product-hero feature-block feature-block--primary">
        <div class="feature-block__image">
            @Editable(Model, item => item.VitalityLogo)
        </div>

        <div class="feature-block__content-container">
            <div class="feature-block__content">

                @Editable(Model, item => item.Image, new { @class = "lead-in" })
                <h1>@Editable(Model, item => item.Headline)</h1>
                <p>@Editable(Model, item => item.Body)</p>
                @Editable(Model, item => item.CallToAction, new { @class = this.ButtonClass() })
            </div>
        </div>
    </div>
