@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.FeatureBlocks.VacancyList>

@{
    var localEnv = "presales.vitality.co.uk" == System.Web.HttpContext.Current.Request.Url.Host;
}

<div class="pinch">
    @if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <h3>[Vacancy Title]</h3>
        <ul>
            <li>@Editable(Model, m => m.LocationText) [Vacancy Location]</li>
            <li>@Editable(Model, m => m.SalaryText) [Vacancy Salary]</li>
            <li>@Editable(Model, m => m.ClosesOnText) [Vacancy Closes On]</li>
        </ul>

        <div><a class="box-button box-button--rounded box-button box-button--primary">@Editable(Model, m => m.ApplyForVacancyText)</a></div>
        <div><a class="box-button box-button--rounded box-button--primary-inverse">@Editable(Model, m => m.BackToVacanciesListText)</a></div>

        <hr />

        <div>[Vacancy Description]</div>
    }
    else
    {
        <script type="text/javascript" src='@(localEnv ? "node_modules/core-js/client/shim.min.js" : "https://unpkg.com/core-js/client/shim.min.js")'></script>
        <script type="text/javascript" src='@(localEnv ? "node_modules/zone.js/dist/zone.js" : "https://unpkg.com/zone.js@0.8.4?main=browser")'></script>
        <script type="text/javascript" src='@(localEnv ? "node_modules/systemjs/dist/system.src.js" : "https://unpkg.com/systemjs@0.19.39/dist/system.src.js")'></script>
        <script type="text/javascript" src='@(localEnv ? "/js/systemjs.config.js" : "/js/systemjs.config.server.js")'></script>

        <script type="text/javascript">
            System.import('/js/vacancyDetails-Main.js')
                .catch(function (err) { throw err; });

            window.angularData = window.angularData || {};
            window.angularData.headline = '@Model.Headline';
            window.angularData.locationsDropdownLabel = '@Model.LocationsDropdownLabel';
            window.angularData.allLocationsText = '@Model.AllLocationsText';
            window.angularData.departmentsDropdownLabel = '@Model.DepartmentsDropdownLabel';
            window.angularData.allDepartmentsText = '@Model.AllDepartmentsText';
            window.angularData.findoutMoreText = '@Model.FindoutMoreText';
            window.angularData.noVacanciesFoundText = '@Model.NoVacanciesFoundText';
            window.angularData.feedSettings = {
                Endpoint: "@Model.FeedSettings.Endpoint",
                MockDataFile: "@Model.FeedSettings.MockDataFile.Url"
            };
            window.angularData.locationText = '@Model.LocationText';
            window.angularData.salaryText = '@Model.SalaryText';
            window.angularData.closesOnText = '@Model.ClosesOnText';
            window.angularData.applyForVacancyText = '@Model.ApplyForVacancyText';
            window.angularData.shareVacancyText = '@Model.ShareVacancyText';
            window.angularData.backToVacanciesListingText = '@Model.BackToVacanciesListText';
            window.angularData.locations = '@(String.Join("|", Model.Locations.Select(p => p.Name)))';
            window.angularData.departments = '@(String.Join("|", Model.Departments.Select(p => p.Name)))';
        </script>

        <vacancy-details>Retrieving job details...<div class="loader__icon"></div></vacancy-details>
    }
</div>


