@using AutoMapper;
@using Newtonsoft.Json;
@using Vitality.Website.Areas.Presales.ComponentTemplates.FeatureBlocks;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<VacancyList>

@{
    var localEnv = "presales.vitality.co.uk" == HttpContext.Current.Request.Url.Host;
    var angularModel = JsonConvert.SerializeObject(Mapper.Map<VacancyListViewModel>(Model));
}

<div class="pinch">
    @if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <h3>[Vacancy Title]</h3>
        <ul>
            <li>@Editable(Model, m => m.LocationText) [Vacancy Location]</li>
            <li>@Editable(Model, m => m.SalaryText) [Vacancy Salary]</li>
            <li>@Editable(Model, m => m.ClosesOnText) [Vacancy Closes On]</li>
        </ul>

        <div><a class="box-button box-button--rounded box-button box-button--primary">@Editable(Model, m => m.ApplyForVacancyText)</a></div>
        <div><a class="box-button box-button--rounded box-button--primary-inverse">@Editable(Model, m => m.BackToVacanciesListText)</a></div>

        <hr />

        <div>[Vacancy Description]</div>
    }
    else
    {
        <script type="text/javascript" src='@(localEnv ? "node_modules/core-js/client/shim.min.js" : "https://unpkg.com/core-js/client/shim.min.js")'></script>
        <script type="text/javascript" src='@(localEnv ? "node_modules/zone.js/dist/zone.js" : "https://unpkg.com/zone.js@0.8.4/dist/zone.min.js?main=browser")'></script>
        <script type="text/javascript" src='@(localEnv ? "node_modules/systemjs/dist/system.src.js" : "https://unpkg.com/systemjs@0.19.39/dist/system.js")'></script>
        <script>if(!(window.SystemJS)) window.cdnizerLoad("node_modules/core-js/client/shim.min.js");</script>
        <script>if(!(window.SystemJS)) window.cdnizerLoad("node_modules/zone.js/dist/zone.js");</script>
        <script>if(!(window.SystemJS)) window.cdnizerLoad("node_modules/systemjs/dist/system.src.js");</script>
        <script type="text/javascript" src='@(localEnv ? "/js/systemjs.config.js" : "/js/systemjs.config.server.js")'></script>

        <script type="text/javascript">
                System.import('/js/vacancydetails-main.js')
                                .catch(function (err) { throw err; });
        </script>

        <script type="text/javascript">
            window.angularData = window.angularData || {};
            window.angularData = @Html.Raw(angularModel);
        </script>

        <vacancy-details><div class="loader__icon"></div></vacancy-details>
    }
</div>


