@using Glass.Mapper.Sc.Web.Mvc
@using Vitality.Website.Extensions.Views
@inherits GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.Partners.PartnerHero>

@using (BeginEditFrame(Model, "Edit Background image", item => item.BackgroundImage))
{
    <div class="partner-hero @this.PartnerWithCardClass() @this.ImageRelativePosition() lazyload" data-bg="@this.BackgroundImage()">
        <div class="grid">
            <div class="partner-hero--headline @this.ColumnSpan() @this.FontTheme()">
                <p class="partner-hero--headline__intro">@Editable(Model, item => item.Headline1)</p>
                <h1>@Editable(Model, item => item.Headline2)</h1>

                <div class="partner-hero--headline__body">
                    @Editable(Model, item => item.OpeningParagraph)
                </div>
            </div>

            @if (this.ShowPartnerCard())
            {
                <div class="grid-col-6-12 partner-hero--right">
                    <div class="partner-hero--card">
                        <div class="spotlight-item__logo--large">
                            @GlassHtml.RenderLazyImage(Model, item => item.PartnerIcon)
                        </div>

                        <div class="partner-hero--card__top">
                            <p class="partner-hero--card__top--intro">@Editable(Model, item => item.PartnerName)</p>
                            <hr />
                            <p>@Editable(Model, item => item.Line)</p>
                        </div>

                        <div class="partner-hero--card__bottom text-light">
                            @Editable(Model, item => item.Benefits)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
