@using Sitecore.Forms.Mvc
@using Sitecore.Forms.Mvc.Html
@model Sitecore.Forms.Mvc.ViewModels.Fields.DateField

@using (Html.BeginField())
{
    @Html.HiddenFor(x => Model.Value, new { @class = "wfmDatebox" })

    var htmlAttributes = new RouteValueDictionary
    {
       { "class", "form-control" },
       { Constants.Tracking, "false" }
    };

    <div class="form__field__input--date">
        @Html.DropDownListFor(x => x.Day, Model.Days, htmlAttributes)
        @Html.DropDownListFor(x => x.Month, Model.Months, htmlAttributes)
        @Html.DropDownListFor(x => x.Year, Model.Years, htmlAttributes)
    </div>

    @Html.RenderScriptBlock(
        @<script type="text/javascript">
             window.WffmFieldsData = window.WffmFieldsData || {};

             window.WffmFieldsData["@Html.IdFor(x => Model.Value)"] =
             {
                 dayId: "@Html.Id("Day")",
                 monthId: "@Html.Id("Month")",
                 yearId: "@Html.Id("Year")"
             };
         </script>
    )
}
