@using Sitecore.Forms.Mvc
@using Sitecore.Forms.Mvc.Html
@model Sitecore.Forms.Mvc.ViewModels.Fields.DateField

@using (Html.BeginField())
{
    @Html.HiddenFor(x => Model.Value, new { @class = "wfmDatebox" })


    var htmlAttributes = new RouteValueDictionary
    {
       { "class", "form-control" },
       {Constants.Tracking, "false"}
    };

    <div class="grid">
        <div class="grid-col-4-12">
            <div class="input-group">
                <div class="input-group-addon">@Model.DayTitle</div>
                @Html.DropDownListFor(x => x.Day, Model.Days, htmlAttributes)
            </div>
        </div>

        <div class="grid-col-4-12">
            <div class="input-group">
                <div class="input-group-addon">@Model.MonthTitle</div>
                @Html.DropDownListFor(x => x.Month, Model.Months, htmlAttributes)
            </div>
        </div>

        <div class="grid-col-4-12">
            <div class="input-group">
                <div class="input-group-addon">@Model.YearTitle</div>
                @Html.DropDownListFor(x => x.Year, Model.Years, htmlAttributes)
            </div>
        </div>
    </div>

    @Html.RenderScriptBlock(
    @<script type="text/javascript">
        if (typeof window.WffmFieldsData === 'undefined') {
            window.WffmFieldsData = {}
        }

        window.WffmFieldsData["@Html.IdFor(x => Model.Value)"] =
        {
            dayId: "@Html.Id("Day")",
            monthId: "@Html.Id("Month")",
            yearId: "@Html.Id("Year")"
        };
    </script>)
}
