@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.PageTemplates.ErrorPage>
<div class="server-error">
    <h1>@Editable(Model, m => m.Headline)</h1>
    <p>@Editable(Model, m => m.OpeningParagraph)</p>

    <div class="server-error--cta match-width">
        @Editable(Model, m => m.CallToAction1, new { @class = "box-button box-button--light box-button--rounded" })
        @Editable(Model, m => m.CallToAction2, new { @class = "box-button box-button--light box-button--rounded" })
    </div>

    @Editable(Model, m => m.BackgroundImage)
</div>
