@using Sitecore.Mvc
@{
    var isEditing = Sitecore.Context.PageMode.IsExperienceEditor
        || Sitecore.Context.PageMode.IsExperienceEditorEditing;
}
<!DOCTYPE html>
<html class="@(isEditing ? "disable-tablesaw" : null)">
<head>
    <title>@Html.Sitecore().Field("BrowserTitle", new { DisableWebEdit = true })</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,500,600">

    @* Favicons *@
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#f41c5e">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta property="og:image" content="https://www.vitality.co.uk/img/favicon/open-graph.png">
    <meta name="apple-mobile-web-app-title" content="Vitality">
    <meta name="application-name" content="Vitality">
    <meta name="msapplication-TileColor" content="#f41c5e">
    <meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#fff">

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @if (isEditing)
    {
        <link rel="stylesheet" href="/css/experience_editor_fix.css" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="css/tablesaw.css" />
    }

    <link rel="stylesheet" type="text/css" href="/css/app.css" media="screen" />
    <script src="/js/modernizr-custom.min.js"></script>
    <script src="/js/require.js" data-main="/js/vitality-boilerplate" async></script>
</head>
<body>
    <div class="page">

        <a href="#main-content" class="offscreen">Skip to Content</a>
        @Html.Sitecore().Placeholder("header")

        <main id="main-content" tabindex="-1">
            <section class="vertical-flush">
                @Html.Sitecore().Placeholder("PresalesContent")
            </section>
        </main>
    </div>

    @Html.Sitecore().Placeholder("footer")
</body>
</html>