@using System.Web.Mvc.Html
@using Sitecore.ExperienceContentManagement.Administration.Helpers.SupportPackage.Diagnostics.Base
@using Sitecore.Mvc
@using Vitality.Website.Areas.Presales.ComponentTemplates.Navigation
@using Vitality.Website.Areas.Presales.SettingsTemplates
@using Vitality.Website.SC
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.PageTemplates.BasePage>
<!doctype html>
<html class="@(IsInEditingMode ? "disable-tablesaw" : null)" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en">
<head>

    @Html.Sitecore().Placeholder("g360")
    @Html.Sitecore().Placeholder("gtm")
    @Html.Sitecore().Placeholder("metadata")

    @Html.Partial("_Favicons")
    @*Html.Partial("_CriticalCss")*@

    @if (IsInEditingMode)
    {
        <link rel="stylesheet" href="/css/experience_editor_fix.css"/>
    }
    else
    {
        <base href="/">
        <link rel="stylesheet" type="text/css" href="/bower_components/vitality.boilerplate/dist/tablesaw.min.css"/>
    }

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hind+Siliguri:300,400,600,700"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/vitality.boilerplate/dist/vitality-boilerplate.min.css"/>
</head>

<body>
    @Html.Sitecore().Placeholder("gtmnoscript")
    <div class="page">
        @Html.Partial("_CookieMessage", SitecoreContext.GetItem<CookieSettings>
            (ItemConstants.Presales.Content.Configuration.CookieSettings.Path))

        <a href="#main-content" class="offscreen">Skip to Content</a>
        @Html.Sitecore().Placeholder("header")
        @Html.Partial("_Breadcrumb", new BreadcrumbTrail())
        @Html.Partial("_JsThirdParty")
        <main id="main-content" tabindex="-1">
            <section class="vertical-flush">
                @Html.Sitecore().Placeholder("PresalesContent")
            </section>
        </main>
    </div>

    @Html.Sitecore().Placeholder("footer")    
    @Html.Partial("_JsWffm")

    @if (!IsInEditingMode)
    {
        <script type="text/javascript" src="/bower_components/vitality.boilerplate/dist/tablesaw.min.js"></script>
    }



    <script type="text/javascript" src="/js/vitality.presales.min.js"></script>
    <script type="text/javascript" src="/bower_components/vitality.boilerplate/dist/vitality-boilerplate.min.js"></script>
</body>
</html>
