@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.PageTemplates.LiteratureLibraryPage>

<div class="grid ">
    <div class="grid-col-8-12">
        <h1>@Editable(Model, m => m.Headline)</h1>
        <p>@Editable(Model, m => m.OpeningParagraph)</p>
        <h2>@Editable(Model, m => m.SearchHeadline)</h2>
        <input type="search" placeholder="@Html.Raw(Model.SearchPlaceholderText)"/>
    </div>
    <div class="grid-col-4-12 text-center">
        <div class="spotlight">
            <div class="spotlight__list-item spotlight__standalone">
                <div class="spotlight-item">
                    <div class="spotlight-item__top-content">
                        <div class="spotlight-item__intro-image burst">
                            @Editable(Model, m => m.CardImage, new { w = 320 })
                        </div>
                        <p class="spotlight-item__heading">
                            @Editable(Model, m => m.CardHeadline)
                        </p>
                        <div class="spotlight-item__content">
                            <p>
                                @Editable(Model, m => m.CardOpeningParagraph)
                            </p>
                        </div>
                    </div>
                    <div class="spotlight-item__cta">
                        @Editable(Model, m => m.CardLink)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid-col-1-3">
        <h3>@Editable(Model, m => m.CategoriesHeadline)</h3>
        <div>
            <ul>
            @foreach (var literatureCategory in this.LiteratureCategories())
            {
                <li>@Editable(literatureCategory, m => m.Title)</li>
            }
            </ul>
        </div>
    </div>
    <div class="grid-col-1-3">
        <h3>@Editable(Model, m => m.LiteratureHeadline)</h3>
        <div>
            <ul>
                <li>Health and rewards partners</li>
                <li>Vitality GP Select</li>
            </ul>
        </div>
    </div>
    <div class="grid-col-1-3">
        <h3>@Editable(Model, m => m.SelectionHeadline)</h3>
        <div>
            <h4>Vitality GP Select</h4>
            <a href="#" class="box-button box-button--rounded box-button--secondary">Download</a><a href="#" class="box-button box-button--rounded box-button--secondary">Email</a>
            <p>Some descriptions</p>
        </div>
    </div>
</div>