@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.PageTemplates.LiteratureLibraryPage>

<div class="example" data-ng-app="HealthAdvisersSalesLiteratureApp">
    <div class="grid">
        <div class="grid-col-8-12">
            <h2 class="text-flush-top">@Editable(Model, m => m.Headline)</h2>
            <p>@Editable(Model, m => m.OpeningParagraph)</p>
            <h3>@Editable(Model, m => m.SearchHeadline)</h3>
            <input type="search" placeholder="@Html.Raw(Model.SearchPlaceholderText)" data-typeahead />
        </div>

        <div ng-show="showNoDocsFromSearchMessage">
            @Editable(Model, m => m.NotFoundErrorMessage)
        </div>

        <div class="grid-col-4-12 tablet-and-up">
            <div class="spotlight">
                <div class="spotlight__list-item spotlight__standalone">
                    <div class="spotlight-item">
                        <div class="spotlight-item__top-content">
                            <div class="spotlight-item__intro-image burst">
                                @Editable(Model, m => m.CardImage, new { w = 320 })
                            </div>
                            <p class="spotlight-item__heading">
                                @Editable(Model, m => m.CardHeadline)
                            </p>
                            <div class="spotlight-item__content">
                                <p>
                                    @Editable(Model, m => m.CardOpeningParagraph)
                                </p>
                            </div>
                        </div>
                        <div class="spotlight-item__cta">
                            @Editable(Model, m => m.CardLink)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid-col-4-12" ng-controller="ChooseController as chooseController">
            <h3>@Editable(Model, m => m.CategoriesHeadline)</h3>

            <ul class="list--buttons">
                <li ng-repeat="entry in types">
                    <a class="button-list"
                       data-ng-cloak
                       ng-class="{'button-list--selected': entry.IsSelected}"
                       ng-click="chooseController.loadType(entry)">
                        {{entry.Name}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="grid-col-4-12" ng-controller="AvailableController as availableController">
            <h3>@Editable(Model, m => m.LiteratureHeadline)</h3>

            <ul class="list--buttons">
                <li ng-repeat="document in literature">
                    <a class="button-list"
                       data-ng-cloak
                       ng-class="{'button-list--selected': document.IsSelected}"
                       ng-click="availableController.loadDocument(document)">
                        {{document.Title}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="grid-col-4-12" ng-controller="DocumentController">
            <h3>@Editable(Model, m => m.SelectionHeadline)</h3>

            <div class="preview-card" ng-if="document">
                <div class="preview-card--header" data-ng-cloak>
                    {{document.Title}}
                </div>

                <div class="preview-card--body">
                    <div class="preview-card--body__buttons">
                        <div>
                            @if (!string.IsNullOrWhiteSpace(Model.DownloadLinkText))
                            {
                                <a href="{{document.Document}}" class="box-button box-button--secondary box-button--rounded box-button--full-width">
                                    @Editable(Model, m => m.DownloadLinkText)
                                </a>
                            }
                        </div>

                        <div>
                            @if (!string.IsNullOrWhiteSpace(Model.EmailLinkText))
                            {
                                <a href="mailto:?subject={{document.Title}}&body={{document.Document}}" class="box-button box-button--secondary-inverse box-button--rounded box-button--full-width">
                                    @Editable(Model, m => m.EmailLinkText)
                                </a>
                            }
                        </div>
                    </div>

                    <div class="preview-card--body__preview" data-ng-show="document.Thumbnail" data-ng-cloak>
                        <img ng-src="{{document.Thumbnail}}" alt="{{document.Title}}" />
                    </div>

                    <div class="preview-card--body__text" data-ng-cloak>
                        <p data-ng-bind="document.Description"></p>
                        <p><b>{{document.Code}}</b></p>
                        <p>{{document.PublishDate | date : "d MMM yyyy"}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.angularData = window.angularData || {};
    window.angularData.literaturePath = '@Model.LiteratureLibrary.Name';
</script>
