@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.PageTemplates.LiteratureLibraryPage>

<div class="example" data-ng-app="HealthAdvisersSalesLiteratureApp">
    <div class="grid grid-no-gutters">
        <div class="grid-col-8-12">
            <h2 class="text-flush-top">@Editable(Model, m => m.Headline)</h2>
            <p>@Editable(Model, m => m.OpeningParagraph)</p>
            <h3>@Editable(Model, m => m.SearchHeadline)</h3>
            <div>Example: 6 8 2015</div>

            <div class="grid-no-gutters form" ng-controller="DateController as dateController">
                <form name="dateForm">
                    <div class="grid-col-3-12 form__field" ng-class="(dateForm.day.$invalid) ? 'is-invalid' : ''" data-ng-cloak>
                        <label for="day">Day</label>
                        <input id="day" name="day" data-ng-model="filterDate.day" type="number" pattern="\d*" placeholder="DD" data-ng-change="inputChanged(dateForm)" />

                        <div data-ng-show="dateForm.day.$invalid" class="form__field__error">
                            <p>Please enter a valid day</p>
                        </div>

                        <div data-ng-show="dateForm.filterDate.$invalid" class="form__field__error">
                            <p>Please enter a valid date</p>
                        </div>
                    </div>
                    <div class="grid-col-3-12 form__field">
                        <label for="month">Month</label>
                        <input id="month" name="month" data-ng-model="filterDate.month" data-ng-change="inputChanged(dateForm)" type="number" pattern="\d*" placeholder="MM" />
                        <div data-ng-show="dateForm.month.$invalid" class="form__field__error">
                            <p>Please enter a valid month</p>
                        </div>
                    </div>
                    <div class="grid-col-3-12 form__field">
                        <label for="year">Year</label>
                        <input id="year" name="year" placeholder="YYYY"
                               data-ng-model="filterDate.year" type="number" pattern="\d*"
                               data-ng-change="inputChanged(dateForm)" />

                        <div data-ng-show="dateForm.year.$invalid" class="form__field__error">
                            <p>Documents are only available for next year</p>
                        </div>
                    </div>
                    <div class="grid-col-2-12 form__field__input--inline">
                        <input type="submit" ng-click="filterAction(dateForm)" value="Submit"
                               class="box-button box-button--secondary box-button--rounded form__field__input--submit--inline" />
                    </div>
                </form>
            </div>
        </div>

        <div class="grid-col-4-12 tablet-and-up">
            <div class="spotlight">
                <div class="spotlight__list-item spotlight__standalone">
                    <div class="spotlight-item">
                        <div class="spotlight-item__top-content">
                            <div class="spotlight-item__intro-image burst">
                                @Editable(Model, m => m.CardImage, new {w = 320})
                            </div>
                            <p class="spotlight-item__heading">
                                @Editable(Model, m => m.CardHeadline)
                            </p>
                            <div class="spotlight-item__content">
                                <p>
                                    @Editable(Model, m => m.CardOpeningParagraph)
                                </p>
                            </div>
                        </div>
                        <div class="spotlight-item__cta">
                            @Editable(Model, m => m.CardLink)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid-col-4-12" ng-controller="ChooseController as chooseController">
            <h3>@Editable(Model, m => m.CategoriesHeadline)</h3>

            <ul class="list--buttons">
                <li ng-repeat="entry in types">
                    <a class="button-list"
                       data-ng-cloak
                       data-ng-class="{'button-list--selected': entry.IsSelected}"
                       data-ng-click="chooseController.loadType(entry)">
                        {{entry.Name}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="grid-col-4-12" ng-controller="AvailableController as availableController">
            <h3>@Editable(Model, m => m.LiteratureHeadline)</h3>

            <ul class="list--buttons">
                <li ng-show="showNoDocsFromSearchMessage">
                    @Editable(Model, m => m.NotFoundErrorMessage)
                </li>
                <li ng-repeat="document in literature">
                    <a class="button-list"
                       data-ng-cloak
                       data-ng-class="{'button-list--selected': document.IsSelected}"
                       data-ng-click="availableController.loadDocument(document)">
                        {{document.Title}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="grid-col-4-12" ng-controller="DocumentController">
            <h3>@Editable(Model, m => m.SelectionHeadline)</h3>

            <div class="preview-card" ng-if="document">
                <div class="preview-card--header" ng-bind="document.Title"></div>

                <div class="preview-card--body">
                    <div class="preview-card--body__buttons">
                        <div>
                            @if (!string.IsNullOrWhiteSpace(Model.DownloadLinkText))
                            {
                                <a href="{{document.Document}}" class="box-button box-button--secondary box-button--rounded box-button--full-width">
                                    @Editable(Model, m => m.DownloadLinkText)
                                </a>
                            }
                        </div>

                        <div>
                            @if (!string.IsNullOrWhiteSpace(Model.EmailLinkText))
                            {
                                <a href="mailto:?subject={{document.Title}}&body={{document.Document}}" class="box-button box-button--secondary-inverse box-button--rounded box-button--full-width">
                                    @Editable(Model, m => m.EmailLinkText)
                                </a>
                            }
                        </div>
                    </div>

                    <div class="preview-card--body__preview" data-ng-show="document.Thumbnail" data-ng-cloak>
                        <img ng-src="{{document.Thumbnail}}" alt="{{document.Title}}" />
                    </div>

                    <div class="preview-card--body__text" data-ng-cloak>
                        <p data-ng-bind="document.Description"></p>
                        <p><b>{{document.Code}}</b>
                        </p>
                        <p>{{document.PublishDate | date : "d MMM yyyy"}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.angularData = window.angularData || {};
    window.angularData.literaturePath = '@Model.LiteratureLibrary.Name';
</script>
