@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.Banners.HomeHero>

@using (BeginEditFrame(Model, "Edit background image", m => m.PosterImage))
{
    <div class="home-hero @this.VideoTheme()">
        <div class="home-hero--static @this.ImageRelativePosition() @this.FontTheme()" style="@this.BackgroundImage()">
            <div class="home-hero--static__container">
                <div class="header">
                    <h1>@Editable(Model, m => m.SecondHeadline)</h1>
                </div>

                @if (this.DisplayPlayButton())
                {
                    <div class="home-hero--static__button svg-svg--button-video-play"></div>
                }
                <p>
                    @Editable(Model, m => m.OpeningParagraph)
                </p>
            </div>
        </div>

        @if (this.DisplayPlayButton())
        {
            <div class="video--responsive">
                <div class="youtube-video" data-youtube-id="@Model.VideoId"></div>
            </div>
        }
    </div>

}
