@using System.Web.Mvc.Html
@using Vitality.Website.Areas.Global.Models
@using Vitality.Website.Extensions.Views
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.Navigation.MainNavigation>

<header class="page-header">
    @Html.Partial("/Areas/Presales/Views/Navigation/MobileNavigation.cshtml", Model)
    
    @* top-bar desktop - contains site nav *@
    <div class="top-bar top-bar--large">
        <ul class="site-nav">
            @foreach (var navigationSection in Model.NavigationSections)
            {
                if (this.GetActiveNavigationSection(SitecoreContext.GetCurrentItem<SitecoreItem>()).Equals(navigationSection) && navigationSection.SectionLink != null)
                {
                    <li class="site-nav__item is-active">
                        @RenderLink(navigationSection, item => item.SectionLink)
                    </li>
                }
                else if (navigationSection.SectionLink != null)
                {
                    <li class="site-nav__item">
                        @RenderLink(navigationSection, item => item.SectionLink)
                    </li>
                }
            }
        </ul>

        <ul class="utility-nav">
            <li class="utility-nav__item utility-nav__item--search">
                @using (BeginRenderLink(Model, item => item.SearchPage))
                {
                    <img src="/img/search.svg" alt="Search">
                    @Html.Raw(Model.SearchPage.Text)
                }
            </li>

            @if (!string.IsNullOrEmpty(Model.LogInText))
            {
                <li class="utility-nav__item utility-nav__item--log-in js-log-in-toggle">
                    <a href="#">@Html.Raw(Model.LogInText)</a>

                    @* log in panel desktop *@
                    <div class="log-in log-in--large">
                        <div class="log-in__content">
                            <div class="log-in__links">
                                @foreach (var loginLink in Model.LoginLinks)
                                {
                                    @RenderLink(loginLink, m => m.Link, this.LoginLinkCssClass(loginLink))
                                }
                            </div>
                        </div>
                    </div>
                    @* end log in panel desktop *@
                </li>
            }

            <li class="utility-nav__item">
                @RenderLink(Model, item => item.ContactUsPage)
            </li>

            <li class="utility-nav__item utility-nav__item--social">
                <ul class="social-icons-list">
                    @foreach (var socialLink in Model.SocialLinks)
                    {
                        <li class="social-icon">
                            @using (BeginRenderLink(socialLink, item => item.Link))
                            {
                                @RenderImage(socialLink, item => item.Image, isEditable: false)
                            }
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    @* end top-bar desktop *@

    @* section-nav - for all sizes - contains megamenu *@
    @Html.Partial("/Areas/Presales/Views/Navigation/NavigationSection.cshtml", this.GetActiveNavigationSection(SitecoreContext.GetCurrentItem<SitecoreItem>()))
    @* end section-nav *@

    @* site-nav for mobile, moved to bottom of menu *@
    <ul class="site-nav--small">
        @foreach (var navigationSection in Model.NavigationSections)
        {
            if (this.GetActiveNavigationSection(SitecoreContext.GetCurrentItem<SitecoreItem>()).Equals(navigationSection) && navigationSection.SectionLink != null)
            {
                <li class="site-nav__item is-active">
                    @RenderLink(navigationSection, item => item.SectionLink)
                </li>
            }
            else if (navigationSection.SectionLink != null)
            {
                <li class="site-nav__item">
                    @RenderLink(navigationSection, item => item.SectionLink)
                </li>
            }
        }

        @if (Model.ContactUsPage != null)
        {
            <li class="site-nav__item">
                @RenderLink(Model, item => item.ContactUsPage)
            </li>
        }
    </ul>
</header>

@* log in panel for mobile *@
@if (!string.IsNullOrEmpty(Model.LogInText))
{
    <div class="log-in log-in--small">
        <div class="log-in__content">
            <div class="log-in__links">
                @foreach (var loginLink in Model.LoginLinks)
                {
                    @RenderLink(loginLink, m => m.Link, this.LoginLinkCssClass(loginLink))
                }
            </div>
        </div>
    </div>
}

