@using Vitality.Website.Extensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Vitality.Website.Areas.Presales.ComponentTemplates.FAQ.FeaturedQuestions>

<div class="faq_leader">
    <div class="header">
        <h2>@Editable(Model, m => m.Title)</h2>
        <p class="paragraph-emphasis">@Editable(Model, m => m.Subtitle)</p>
    </div>

    <div class="faqs">
        @foreach (var row in Model.Questions.GroupIntoRows(2))
        {
            <div class="grid">
            @foreach (var questionAnswer in row)
            {
                using (this.BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Subitems", questionAnswer.Path))
                {
                    <div class="grid-col-6-12">
                        <h6 class="text-detail-block__heading">@Editable(questionAnswer, m => m.QuestionText)</h6>
                        <div>@Editable(questionAnswer, m => m.Preview)</div>
                    </div>
                }
            }
            </div>
        }
    </div>

    <div class="more">@Editable(Model, m => m.CTA)</div>
</div>